</head>
<body>
	<head>
	<title>.:Sistema de Gstión de Estadios:.</title>   
	<link rel="stylesheet" href="static/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css"> 
	<script src="static/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <!-- PARA TU LOGO-->
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
	<!--Necesario-->
    <link rel="stylesheet" type="text/css" href="staticcss/style2.css" />
    <link rel="stylesheet" type="text/css" href="static/css/ion.css" />
    <link rel="stylesheet" type="text/css" href="static/css/formulario.css" />
	<script type="text/javascript" src="static/js/modernizr.custom.28468.js"></script>
    <!--Necesario--> 
	<noscript>
		<link rel="stylesheet" type="text/css" href="static/css/nojs.css" />
	</noscript>
</head>
  <header>
	{% block encabezado %}{% endblock %}
	<nav>
	  <ul id='menu'>
		  <li><a href='/'>Inicio</a></li>
		  <li><a href='/usuarios'>Usuarios registrados</a></li>
		  <li><a href='/recetas'>aaa</a></li>
      <li><a href="/comenta">Comenta</a></li>
		  <li><a href='/sobre'>Sobre</a></li>
      <li><a href="/contacto">Contactanos</a></li>
    </ul>
	</nav>
	<hr>
  </header>	
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <footer>
	<p></p>
  </footer>
</body>
</html>